@import "tailwindcss";

/* index.css */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #000;
  }
  